VhiecleWeb/VhiecleWeb/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62381/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62381/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62381/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TransService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetNameByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNameByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNameByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTransByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTransByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteNameWithID_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteNameWithID" />
  </wsdl:message>
  <wsdl:message name="IService1_WriteNameWithID_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteNameWithIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetNameByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNameByID" message="tns:IService1_GetNameByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNameByIDResponse" message="tns:IService1_GetNameByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTransByID" message="tns:IService1_GetTransByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTransByIDResponse" message="tns:IService1_GetTransByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteNameWithID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WriteNameWithID" message="tns:IService1_WriteNameWithID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WriteNameWithIDResponse" message="tns:IService1_WriteNameWithID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNameByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNameByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTransByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteNameWithID">
      <soap:operation soapAction="http://tempuri.org/IService1/WriteNameWithID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62381/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>