ClientSide/AppController/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TransService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TransService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyEntity" nillable="true" type="tns:MyEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyEntity" nillable="true" type="tns:ArrayOfMyEntity" />
  <xs:complexType name="MyEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyEntity" nillable="true" type="tns:MyEntity" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>